body {background-color: navy;
      text-align: center;
    color: gold;
    font-family: Arial, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
body {text-align: center;
  background: url("https://imgur.com/r/soccer/ayeHdwx");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
hr {
  width: 300px;
}
p {
  font-size: 22px;}