@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
body {text-align: center;
  background: url("soccer_background.jpg");
  background-size: cover;
  color: Black;

  font-family: 'Racing Sans One', cursive;
}
h1, h2 {
	text-align: left;
}
#menu-outer {
	height: 84px;
	background-color: #42cbf4
	margin-bottom: 10px;
}

.table {
	display: table;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
		padding: 100px;
	}
	
