body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

h1,h2 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
	font-weight: 800;
} 

h1 {
	font-size: 2em;
	background-color: #59F8E8;
	width: 100%;
	padding: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
  color: #fffebb;
  border-bottom-color: #fffebb;
}

img {
	display: block;
	margin: 0 auto;
  width: 50%;
} 


nav {
	font-size: 1em;
 	float: left;
 	width: 100%;
 	background-color: #C5E0D8;
} 

nav a {	
	text-decoration: none;
	color: black;
	margin: 1.8em;
	display: inline-block;
}

#hero {
	display: block;
  width: 100%;
  margin: 0;
  background: #B5FFE9;
  clear: both;
}
article {
	max-width: 50%
	float: left;
	background-color: #941C2F;
	margin: 1.2em;
	padding: 10px;
}

aside{
	max-width: 50%
	float: right;
	background-color: #D0CDD7;
	margin: 1.2em;
	padding: 10px;
}

footer {
	text-align: center;
	padding: 1em 0;
  clear: both;
}