body {text-align: center;
  background: url("soccer_background.jpg");
  background-size: cover;
  color: Black;

  font-family: Helvetica;
}
h1, h2 {text-align: left;}
hr {
  width: 300px;
}
p {
  font-size: 22px;}
  #options ul{
  	list-style: none;
  }
  #options li{
  	display: inline-table;
  }
  img {position: relative;}
  li { margin-bottom: 5px;
  	border:1px;}