body {text-align: center;
  background: url("https://imgur.com/r/soccer/ayeHdwx");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
hr {
  width: 300px;
}
p {
  font-size: 22px;}
  #options ul{
  	list-style: none;
  }
  #options li{
  	display: inline-table;
  }
  img {position: relative;}