html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color:#000000;}

div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}

nav {
	max-width: 3em;
	display: inline;
	text-align: center;
	border: 1px solid black;
}

div#content p{line-height:1.4}

div#navigation{background:#F6F0E0;}

div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}

div#navigation li{margin-bottom:5px;}

div#extra{background:#CCC8B3;}

div#footer{background:#BFBD93;}

div#footer p{margin:0;padding:5px 10px}

div#navigation{float:right;width:50%}

div#extra{float:right;width:49.9%}

div#footer{clear:right;width:100%}